{%extends 'base.html'%}

{% block title%}
About
{% endblock %}

{% block content%}
<h1>About Page</h1>
<h4>Lake Macquarie Private Hospital is an acute Medical and surgical hospital... ... Memories of scott ward the cakes look great · Lake Macquarie Private Hospital is a 187 bed acute Medical and advanced surgical hospital situated on the Pacific Highway at Gateshead, 15 kms south of the Newcastle CBD. The hospital is owned and operated by Ramsay Health Care Limited, the largest operator of private hospitals in Australia. The Lake Macquarie private hospital open in 1973 the hospital has gone from strength to strength – expanding its beds and services from the initial 36 beds to the current 187 Initial services included general surgery, orthopaedic, gynaecology and elective cosmetic surgery. Off site Radiology and Pathology. A new 30 private bed ward was opened in January 2018. The new "Reid Ward" is located on Level 3 and accessible via lift from Level 2.

    In 1986 the hospital introduced cardio-vascular services, incorporating an angiography suite. This was the first private Cardiac Angiography Unit between Sydney and Brisbane.
    
    In keeping with the progressive initiatives of the hospital, high-technology vascular services were introduced in the early 1990s with the addition of a designated vascular laboratory.
    
    In 1994 the second major extension was completed comprising the addition of two operating theatres, including a designated cardiac theatre, expanded recovery room and a six bed Intensive Care Unit with on-site Medical Coverage. Coronary Artery By Pass Surgery commenced in August 1994.
    
    In 1995 a designated 8 bed Coronary Care Unit was opened, it was also the year LMPH won the Australian Private Hospital Association’s Award for excellence. In 2005 the unit was totally refurbished including the addition of four extra beds giving the unit 12 fully monitored beds providing the ultimate cardiac care in modern surroundings.
    
    The hospital was purchased from the original owners in 1997 by MBF – then in 2002 purchased by the nations largest Private Hospital operators – Ramsay Health Care, who undertook a major redevelopment providing additional operating theatres, extended Intensive Care Unit plus additional ward beds bringing the total bed number to 118.</h4>
{% endblock %}